$grey-border: #B7B7B7;

.pagination{
    border: 1px solid $grey-border;
    border-top: 0;
}
.loading-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30rem 50%;
    background-color: rgba(255,255,255,0.8);
}
.search-wrapper{
    overflow-x:auto;
    white-space: nowrap;
    border: 1px solid $grey-border;
    margin-top: 1rem;
    min-height: 30rem;
    position: relative;
    form{
        display: flex;
    }
    .table-search{
        display: table;
        .arrows{
            padding: 0 0.5rem;
        }
        .table-row{
            border-bottom: 1px solid $grey-border;
        }
        .table-row{
            display: block;
            &.table-header{
                background-color: #EEE;  
            }
            &.table-title{
                font-weight: bold;
                .table-cell:not(:last-child)::after{
                    content:" | ";
                    position: absolute;
                    right: 0;
                    color: $grey-border;
                }
            }
            &.table-filter{
                padding: 0;
                input{
                    padding: 0 0.5rem;
                    margin-top: 0;
                }
            }
            &.table-item-info{
                background-color: #EFEFEF;
            }
            
            &.table-item-info{
                .table-cell:nth-child(1){
                    padding-left: 2rem;
                    white-space: nowrap;
                    .icon-info-circled{
                        padding-left: 0.25rem;
                    }
                    .form-check-input[type=checkbox], .bgis-icon, div{
                        display: inline-block;
                    }
                }
            }
            &.table-item-detail{
                .input-reason{
                    padding: 0 0.5rem;
                    margin-bottom: -0.2rem;
                }
                .table-cell:nth-child(1){
                    padding-left: 5rem;
                    &.extra-left-padding{
                        padding-left: 6.5rem;
                    }
                }
            }
            &.table-item-detail:nth-of-type(odd){
                background-color: #FFF;
            }
            &.table-item-detail:nth-of-type(even){
                background-color: #FAFAFA;
            }
            &.editable:hover{
                cursor: pointer;
                background-color: #F2F2FF;
            }
            .table-cell{
                // display: table-cell;
                display: inline-block;
                position: relative;
                vertical-align: top;
                white-space: normal;//nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
                padding: 0.5rem;
                &:nth-child(1){
                    width: 24rem;
                    max-width: 24rem;
                }
                &:nth-child(2){
                    width: 13rem;
                }
                &:nth-child(3){
                    width: 12rem;
                }
                &:nth-child(4){
                    width: 12rem;
                }
                &:nth-child(5){
                    width: 18rem;
                }
                &:nth-child(6){
                    width: 13rem;
                }
                &:nth-child(7){
                    width: 18rem;
                }
                &:nth-child(8){
                    width: 15rem;
                }
                &:nth-child(9){
                    width: 12rem;
                }
                &:nth-child(10){
                    width: 18rem;
                }
                &.danger-cell{
                    background-color: #A00;
                    color: #FFF;
                    .icon-warning-color{
                        margin: 5px;
                        float: right;
                    }
                }
                .dropdown-box{
                    position: absolute;
                    top: 2rem;
                    border: 1px solid $grey-border;
                    background-color: #FFF;
                    z-index: 100;
                    max-height: 30vh;
                    max-width: 42rem;
                    overflow-y: auto;
                    .dropdown-item{
                        cursor: pointer;
                        padding: 0.25rem 0.5rem 0.5rem;
                        max-width: 100%;
                        white-space: normal;
                        line-height: 1rem;
                        .dropdown-inner{
                            display: flex;
                            flex-direction: row;
                            justify-content: left;
                            &.title{
                                font-weight: bold;
                                background-color: #EFEFEF;
                                border-bottom: 1px solid $grey-border;
                            }
                            &.location{
                                display: flex;
                                flex-direction: row;
                                justify-content: left;
                                width: 40rem;
                                div:nth-child(1){
                                    width: 35%;
                                }
                                div:nth-child(2){
                                    width: 35%;
                                }
                                div:nth-child(3){
                                    width: 30%;
                                }
                            }
                        }
                    }
                    
                    .combo-drop:first-child{
                        border-bottom: 1px solid #888;
                    }
                    .combo-inner{
                        pointer-events: none;
                    }
                    .combo-inner-text{
                        min-width: 15rem;
                    }
                }
                .title-filter input{
                    background-color: #FFF;
                }
            }
        }

    }
}