
  <!-- <h6 *ngFor="let eTitle of mockKey">{{eTitle.name}}:<span style="color:red;">{{eTitle.input}}</span></h6> -->
  <div class="search-wrapper" role="search">
    <div class="table-search">
      <div class="table-row table-header table-title" (mouseover)="closeAllTitleDropdown()">
        <div class="table-cell" *ngFor="let title of catagory">
          {{title.name}}
          <!-- <sub>{{title.isOpen}} - {{subs.dropdownOpen}}</sub> -->
        </div>
      </div>
        <div class="table-row table-header table-filter">
          <div class="table-cell" *ngFor="let title of catagory; let i = index">
            <!-- *ngIf="title.name != 'Location'" -->
              <ng-container *ngIf="title.type!='date'" >
                <app-combo-box
                      [name]="'filter'+i" [title]="" [valueInput]="title.input" [isDisabled]="title.isDisabled" [hideTitle]="true"
                      [isFilter]="title.type=='text'" [isSelect]="title.type=='select'" [isTable]="title.type=='table'" [isComboCheck]="title.type=='comboCheck'"
                      (inputClick)="filterTextOnChang($event,i,title.type)" (fieldIconClick)="inputIconClick($event,i,title.type)" (selectClick)="inputSelectClick($event,i,title.type)"
                      (inputBlur)="closeAllTitleDropdown()"
                ></app-combo-box>
                <div *ngIf="title.isOpen && subs.dropdownOpen" class="dropdown-box">
                  <ng-container *ngFor="let opt of title.default; let p=index">
                    <div [ngClass]="{'dropdown-item':true,'combo-drop':title.type=='comboCheck'}">
                      <div *ngIf="title.type!='select' && title.type!='comboCheck' && title.type!='table'" class="dropdown-inner" (mousedown)="selectTitle(opt,i)" >{{opt}}</div>
                      <div *ngIf="title.type=='select'" class="dropdown-inner" (mousedown)="selectTitle(opt,i)" >{{opt.Description}}</div>
                      <div *ngIf="title.type=='table'" class="dropdown-inner location" (mousedown)="selectLocation(opt.Address+', '+opt.Code, opt.LocationId,i)" >
                        <div>
                          <span [innerHTML]="opt.Address | highlighSearch : locationSearchKey" style="font-weight: bold;"></span> <br />
                          <span [innerHTML]="opt.City | highlighSearch : locationSearchKey"></span>, <span [innerHTML]="opt.Province | highlighSearch : locationSearchKey"></span><br />
                          <span [innerHTML]="opt.PostalCode | highlighSearch : locationSearchKey"></span>
                        </div>
                        <div [innerHTML]="opt.PhysicalLocationName | highlighSearch : locationSearchKey"></div>
                        <div>
                          Campus/Site Name:{{opt.SiteName}}<br />
                          Location Type:<span [innerHTML]="opt.LocationTypeName | highlighSearch : locationSearchKey"></span></div>
                      </div>
                      <div *ngIf="title.type=='comboCheck'&& title.name=='Status'" class="dropdown-inner" (mousedown)="selectComboCheck(i,p)" >
                        <input class="form-check-input combo-inner" type="checkbox" [checked]="opt.isChecked">
                        <div class="combo-inner-text" *ngIf="i!=7">{{opt.Description}}</div>
                        <!-- <div class="combo-inner-text" *ngIf="i==7">{{opt.ClientName}}</div> -->
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="title.type=='comboCheck'&& title.name=='Client'">
                    <ng-container *ngFor="let opt of clientFiltered; let p=index">
                      <div [ngClass]="{'dropdown-item':true,'combo-drop':title.type=='comboCheck'}">
                        <div  class="dropdown-inner" (mousedown)="selectClientComboCheck(i,p)" >
                          <input class="form-check-input combo-inner" type="checkbox" [checked]="opt.isChecked">
                          <div class="combo-inner-text" >{{opt.ClientName}}</div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
              <ng-container *ngIf="title.type=='date'" >
                <div style="min-width: 5rem;margin-top: -1.2rem;">
                  <app-date-time-display-picker 
                    [dateFieldLabel]="title.name" [(selectedDate)]="requestDate" (selectedDateValue)="setDateValue($event,title.type)">
                  </app-date-time-display-picker>
              </div>
              </ng-container>
          </div>
        </div>
  
      <div class="table-row table-select-all" (mouseover)="closeAllTitleDropdown()">
        <div class="table-cell">
          <i class="test-icon arrows" [ngClass]="openAll ? 'icon-down-open-big':'icon-right-open-big'" (click)="checkAllCollapse()"></i>
          <input class="form-check-input" type="checkbox" value=""
            [attr.aria-label]="'Check All Items'" [(ngModel)]="checkAll"
            (change)="onCheckAll()"
          >
          SELECT ALL
        </div>
      </div>
  
  
      <div class="" >
        <div *ngFor="let item of requestsListFiltered; let i = index" >
          <div class="table-row table-item-info" (mouseover)="closeAllTitleDropdown()">
            <div class="table-cell">
              <i class="test-icon arrows" [ngClass]="requestsListFiltered[i].isOpen ? 'icon-down-open-big':'icon-right-open-big'" (click)="checkItemCollapse(i)"></i>
              <input class="form-check-input" type="checkbox" value=""
                *ngIf="!item.noChildApprovable"
                [attr.aria-label]="'Checkbox for ' +item.name"
                [(ngModel)]="requestsListFiltered[i].isChecked"
                (change)="checkByGroup(i,requestsListFiltered[i].isChecked)"
              >
              <!-- {{item.BuildingItemNo}} -->
             <div innerHTML="{{ item.BuildingItemNo | highlighSearch : catagory[0].input}}"> </div>
              <i class="test-icon icon-info-circled"></i>
            </div>
            <div class="table-cell">
              &nbsp;
            </div>
            <div class="table-cell">
              &nbsp;
            </div>
            <div class="table-cell">
              &nbsp;
            </div>
            <div class="table-cell">
              &nbsp;
            </div>
            <div class="table-cell" [ngClass]="{'danger-cell':i==3}">
              {{item.RequestDate}} <i class="test-icon icon-warning-color" *ngIf="i==3"></i>
            </div>
            <div class="table-cell">
              {{item.Location}}
            </div>
            <!-- <div class="table-cell">
              {{item.type}}
            </div> -->
            <div class="table-cell">
              {{item.ClientName}}
            </div>
            <div class="table-cell">
              - -
            </div>
            <div class="table-cell">
              
              <!-- <textarea class="form-control" rows="2"></textarea> -->
            </div>
          </div>
          <div [ngClass]="{'d-none':!requestsListFiltered[i].isOpen}" >
            <div *ngFor="let iUpdated of item.updated; let j = index" [ngClass]="{'table-row table-item-detail':true,'editable':requestsListFiltered[i].updated[j].CanBeApproved}" >
              <div [ngClass]="{'table-cell':true,'extra-left-padding':!requestsListFiltered[i].updated[j].CanBeApproved}"
              (click)="checkRowDetail(i,j,$event.target)">
                <input class="form-check-input" type="checkbox" value="" *ngIf="requestsListFiltered[i].updated[j].CanBeApproved"
                  [attr.aria-label]="'Checkbox for ' +iUpdated.name" [(ngModel)]="requestsListFiltered[i].updated[j].isCheckedDetail"
                  (change)="checkRequestListDetail(i,j,requestsListFiltered[i].updated[j].isCheckedDetail)"
                >
                {{iUpdated.EntityField}}
              </div>
              <div class="table-cell" [ngClass]="{'text-success':iUpdated.Status=='APPROVED','text-danger':iUpdated.status=='REJECTED'}"
              (click)="checkRowDetail(i,j,$event.target)">
                {{iUpdated.Status}}
              </div>
              <div class="table-cell"
              (click)="checkRowDetail(i,j,$event.target)">
                {{iUpdated.OldValue}}
              </div>
              <div class="table-cell"
              (click)="checkRowDetail(i,j,$event.target)">
                {{iUpdated.NewValue}}
              </div>
              <div class="table-cell">
                 <div *ngIf="iUpdated.Status=='REJECTED'" class="text-danger">{{iUpdated.RejectedBy}}</div>
                <app-combo-box *ngIf="iUpdated.Status=='PENDING'" [name]="'reason'+i" [title]="" [valueInput]="iUpdated.reason" (blur)="hideReasonSearch()"
                [hideTitle]="true" [errorMessage]="'Please enter a valid value.'" [isSearch]="true" [maxLen]="255"
                (inputClick)="reasonTextOnChang($event,i,j)" (conclick)="hideReasonSearch()"></app-combo-box>
                <div *ngIf="iUpdated.showReasonSearchDialog" class="dropdown-box">
                  <ng-container *ngFor="let opt of reasonSearchFilter; let p=index">
                    <div class="dropdown-item" (mouseout)="mouseoutDropdown(i,j)">
                      <div class="dropdown-inner" innerHTML="{{ opt.Description | highlighSearch : reasonSearchValue}}"
                      (mousedown)="selectTheReason(p,i,j)" >{{opt.Description}}</div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="table-cell"
              (click)="checkRowDetail(i,j,$event.target)">
                &nbsp;
              </div>
              <div class="table-cell"
              (click)="checkRowDetail(i,j,$event.target)">
                &nbsp;
              </div>
              <div class="table-cell"
              (click)="checkRowDetail(i,j,$event.target)">
                &nbsp;
              </div>
              <div class="table-cell"
              (click)="checkRowDetail(i,j,$event.target)">
              {{iUpdated.ApprovedBy}}
              </div>
              <div class="table-cell"
              (click)="checkRowDetail(i,j,$event.target)">
                {{iUpdated.Comments}}
              </div>
            </div>
          </div>
        </div>
      </div>
   
  
    </div>
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  <div *ngIf="loading" class="loading-container">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>